.App {
    padding: 2vw;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 2vw;
    height: 90vh;
    overflow-y: hidden;
}

.DownloadPDF {
    position: absolute;
    left: 37%;
    top: 50%;
}
.DownloadPDF div {
    width: 7vw;
    height: 7vw;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(52, 211, 153, 1);
    font-size: larger;
    font-weight: 900;
    cursor: pointer;
}
.DownloadPDF div:hover {
    background-color: #10b981;
}