@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1vw + 1vh);
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.5vw;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9ca3af; 
  border-radius: 0.5vw;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b7280; 
}